<p-toast></p-toast>
<app-search></app-search>

<main>
  @for (movie of movies; track movie.title){
    @defer(on viewport){
      <section>
        <p-card (click)="onSelectMovie(movie)" [header]="movie.title">
          <ng-template pTemplate="header">
<!--            <i [ngClass]=""></i>-->
<!--            <i class="pi pi-heart"></i>-->
            <img [src]="movie.thumbnail">
          </ng-template>
          <ng-template pTemplate="content">
            <p>Genres: {{movie.genres}}</p>
            <p>Year: {{movie.year}}</p>
          </ng-template>
        </p-card>
      </section>
    } @placeholder{
      <p>Cargando...</p>
    }
  }
</main>
