<app-search></app-search>

<!--<main>-->
<!--  @for (movie of movies; track movie.title){-->
<!--    @defer(on viewport){-->
<!--      <section>-->
<!--        <p-card (click)="onSelectMovie(movie)" [header]="movie.title">-->
<!--          <ng-template pTemplate="header">-->
<!--&lt;!&ndash;            <i [ngClass]=""></i>&ndash;&gt;-->
<!--&lt;!&ndash;            <i class="pi pi-heart"></i>&ndash;&gt;-->
<!--            <img [src]="movie.thumbnail">-->
<!--          </ng-template>-->
<!--          <ng-template pTemplate="content">-->
<!--            <p>Genres: {{movie.genres}}</p>-->
<!--            <p>Year: {{movie.year}}</p>-->
<!--          </ng-template>-->
<!--        </p-card>-->
<!--      </section>-->
<!--    } @placeholder{-->
<!--      <p>Cargando</p>-->
<!--    }-->
<!--  }-->
<!--</main>-->
