<h1>Movies App</h1>

<form [formGroup]="loginForm">
  <section>
    <label>E-Mail</label>
    <input pInputText type="email" formControlName="email">
  </section>
  <section>
    <label>Contraseña</label>
    <p-password type="password" [feedback]="true" formControlName="password" [toggleMask]="true" ></p-password>
  </section>
  <div>
    <button pButton type="button" label="Iniciar Sesión" (click)="login()"></button>
    <button pButton type="button" label="Registrarse" routerLink="/register"></button>
  </div>
</form>
<hr>
<div>
  <img src="assets/icons/icon-google.svg">
</div>



