main{
  h1{
    text-align: center;
  }
  section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    i{
      margin-left: 2em;
      cursor: pointer;
    ;
    }
    span{
      input{
        width: 30vw;
        height: 50px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
    }
  }
}
